<p id="notice"><%= notice %></p>

<%= render :partial => @track %>
<!-- <p>
  <b>Title:</b>
  <%= @track.title %>
</p>

<p>
  <b>Description:</b>
  <%= @track.description %>
</p> -->


<%= link_to 'Edit', edit_track_path(@track) %> |
<%= link_to 'Back', tracks_path %>

<h3>Steps</h3>
<div id="steps">
<%= render :partial => @track.steps %>
</div>

<%= form_for [@track, Step.new] do |f| %>
  <p>
    <%= f.label "Add new step" %><br/>
    Title: <%= f.text_field :title %><br/>
    Weight: <%= f.text_field :weight %><br/>
    Grade: <%= f.text_field :grade %><br/>
    Deadline: <%= f.text_field :deadline %><br/>
    <%= f.text_area :description %>
  </p>
  <p><%= f.submit "Add step" %></p>
<% end %>