<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
        <%= @user.id %>
      </h1>

      <% if current_user == @user %>

      <h3>Tracks you are teaching:</h3>
		<div id="learn">
		<%= render :partial => @user.tracks %>
		</div>

	  <% end %>

      <h3>Tracks you are learning:</h3>
		<div id="learn">
		<%= render :partial => @user.courses %>
		</div>
    </section>
  </aside>
</div>
