<%= div_for step do %>
  <p>
    <strong>
    <%= step.title %>
    </strong>
    , worth <%= step.weight %>%<br/>
    Current grade: <%= step.grade %><br/>
    Deadline is <%= step.deadline %>
    <br/>
    <%= step.description %>
  </p>
<% end %>